.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.map-container{
  height: 100vh;
  width: 100%;
}

.record-coord-label {
  position: absolute;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 5px;
}

.tracks-label {
  position: absolute;
  left: 0;
  bottom: 0;
  background: white;
}

.track-row:hover {
  cursor: pointer;
  color: red;
}